# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# VS Code
.vscode/

# PyCharm
.idea/

# Distribution / packaging
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Unit test / coverage reports
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Logs
*.log

# OS-specific
.DS_Store
Thumbs.db

# Temporary files
*.bak
*.tmp
*.swp

# node modules
node_modules/
.aider*

# Backup
backup/
*_backup_*
